In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

# Read metadata 
pq.read_metadata('yellow_tripdata_2024-11.parquet')

# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2024-11.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [2]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2024-11.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [3]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646369 entries, 0 to 3646368
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 486.8+ MB

In [4]:
# Create an open SQL database connection object
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [5]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [6]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken    125.273 seconds.

inserting batch 2...
inserted! time taken    260.807 seconds.

inserting batch 3...
inserted! time taken    280.268 seconds.

inserting batch 4...
inserted! time taken     77.607 seconds.

inserting batch 5...
inserted! time taken    193.816 seconds.

inserting batch 6...
inserted! time taken    161.903 seconds.

inserting batch 7...
inserted! time taken     67.419 seconds.

inserting batch 8...
inserted! time taken     51.509 seconds.

inserting batch 9...
inserted! time taken     36.973 seconds.

inserting batch 10...
inserted! time taken     32.687 seconds.

inserting batch 11...
inserted! time taken     43.002 seconds.

inserting batch 12...
inserted! time taken     40.760 seconds.

inserting batch 13...
inserted! time taken     38.203 seconds.

inserting batch 14...
inserted! time taken     41.137 seconds.

inserting batch 15...
inserted! time taken     33.304 seconds.

inserting batch 16...
inserted! time taken     33.515 seconds.

inserting batch 17...
inserted! time taken     37.205 seconds.

inserting batch 18...
inserted! time taken     42.045 seconds.

inserting batch 19...
inserted! time taken     38.594 seconds.

inserting batch 20...
inserted! time taken     35.856 seconds.

inserting batch 21...
inserted! time taken     32.420 seconds.

inserting batch 22...
inserted! time taken     45.045 seconds.

inserting batch 23...
inserted! time taken     41.233 seconds.

inserting batch 24...
inserted! time taken     46.811 seconds.

inserting batch 25...
inserted! time taken    139.241 seconds.

inserting batch 26...
inserted! time taken     47.108 seconds.

inserting batch 27...
inserted! time taken     34.497 seconds.

inserting batch 28...
inserted! time taken     33.786 seconds.

inserting batch 29...
inserted! time taken     37.175 seconds.

inserting batch 30...
inserted! time taken     36.219 seconds.

inserting batch 31...
inserted! time taken     31.661 seconds.

inserting batch 32...
inserted! time taken     43.878 seconds.

inserting batch 33...
inserted! time taken     50.605 seconds.

inserting batch 34...
inserted! time taken     38.256 seconds.

inserting batch 35...
inserted! time taken     31.232 seconds.

inserting batch 36...
inserted! time taken     38.298 seconds.

inserting batch 37...
inserted! time taken     10.285 seconds.

Completed! Total time taken was   2417.915 seconds for 37 batches.

 Taxi Zones data

In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265